:root {
  /* Accessible color variables */
  --color-text: #213547;
  --color-bg: #ffffff;
  --color-primary: #006d77;
  --color-secondary: #83c5be;
  --color-accent: #ffb703;
  --color-text-on-primary: #ffffff;
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /*color-scheme: light dark;*/
  color: var(--color-text);
  background-color: var(--color-bg);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

nav{
    background-color: var(--color-primary); /* Dark background for the nav */
    color: white;
    padding: 10px 0;
    position: sticky;
    top: 0;
    z-index: 10;
    margin-bottom: 20px;
}

nav a {
    color: var(--color-text-on-primary);
}

nav a.active {
  color: black;
}


a {
  font-weight: 500;
  color: var(--color-primary);
  text-decoration: inherit;
}
a:hover {
  color: var(--color-secondary);
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--color-secondary);
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: var(--color-primary);
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-text: rgba(255, 255, 255, 0.87);
    --color-bg: #242424;
    --color-primary: #0a9396;
    --color-secondary: #94d2bd;
    --color-accent: #f4a261;
    --color-text-on-primary: #000000;
  }
}
